@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100;
    height: 70vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    margin-bottom: 2rem;
}
.header-img{
    width: 100%;
    position: absolute;
    top: -20vh;
    z-index: -1;
}
.header-img img{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1rem;
    margin: 0 40px;
}
.navitem{
    list-style: none;
    display: flex;
    font-weight: lighter;
    gap: 1.5rem;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
}
.zomato-logo{
    width: 35vw;

}
.head h3{
    font-size: 2.1rem;
    color: whitesmoke;
    font-weight: 400;
    margin: 40px;
}
.search{
    display: flex;
    width: 55vw;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    padding: 5px 4px; 
}

.search-item{
    display: flex;
    align-items: center;
    margin-left: 10px;

}
.search-item p{
    color: gray;
    border-right: 1px solid gray;
    font-size: 15px;
    margin-right: 10px;
    padding: 10px;
    margin-top: 10px;
}
.search-item input{
    outline: none;
    border: none;
    width: 400px;
    padding-left: 10px;
    font-size: 15px;

}
.search-item:first-child{
    width:30% ;
    color: rgb(255, 126,139);
}
.search-item:last-child{
    width:70% ;
    color: gray;
}

.section1{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 4rem;
}

  .section1 .section-1-item{
    position: relative;
    width: 15rem;
    overflow: hidden;
    margin: 3px 5px;
    border-radius: 10px;  
    background-color: white; 
    border: 1px solid rgb(288, 288, 228,0.838);

}
.section1 .section-1-item:hover{
 box-shadow: 0px,1px,2px rgba(207, 207, 207, 0.5);
 transition: all 0.1s;
 
}

.section1 .section-1-item img{
    width: 100%;
    z-index: -1;
    border-radius: 15px;

}
.section1 .section-1-item .item-details{
padding-top: 6px;
 position: absolute;
 bottom: -1px;
 background-color: white;
 width: 100%;
 border-radius: 10px;
 text-align: center;
 z-index: 2;
 height: 25%;
letter-spacing: 0.7px;
font-size: 1.2rem;
}

.section-2{
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 4rem;


}
.section-2-heading{
    font-size: 2rem;
    font-weight: 400px;
    line-height: 1.2;
    
}
.section-2-item{
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(236, 236, 236);
    padding: 20px;
}
.section-2-items{
    display: flex;
    flex-wrap: wrap;
}
.section-2-item{
    width: 100%;
    max-width: 26%;
    margin-bottom: 20px;


}
.section-2-item .item-head{
    font-size: 1.2rem;
    color: rgb(28, 28, 28);
    margin: 0;
    margin-bottom: 5px;
}

.section-3{
    height: 620px;
    background-color:rgb(255, 251, 247);
}
.section-3-container{
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3-img{
    width: 40%;
}
.section-3-img img{
    width: 400px;
}
.section-3-content p{
font-size: 2.5rem;
font-weight: lighter;
margin-bottom: 15px;
margin: 0;
}
.section-3-download img{
    margin: 10px 0;
    width: 30%;

}
.section-footer{
    padding: 10px 10rem;
    background-color: rgb(247, 244, 241);
    
}
.rows{
    display: flex;
}
.main-heading{
    font-size: 2rem;
    font-weight: bold;
}
.row-content{
    width: 25%;
    line-height: 1;
}
.another-content{
    margin-top: 50px;
}
.icons img{
    width: 20px;
    
}

/* Media Query for width <= 1024px */
/* up to 1024 px */

@media (min-width:320px)and (max-width:650px)
{
   .header-img{
    top: 0vh;
   }
   
   .zomato-logo{
    margin-top: 20PX;
    width: 40vw;
    margin-bottom: -10px;
  
}
header{
    height: 30vh;
    margin-bottom: 0rem;
}
.nav{
    font-size: 1rem;
    margin: 1px 40px;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -9vh;
}
.head h3{
    margin: 25px 0;
    font-size: 1rem;
}
.search{
    width: 80%; 
    height: 4vh; 
}
.search-item:first-child{
    width:30% ;
    margin-top: 7px;
    
    
}
.search-item p{
    margin-top: 0px ;
    margin-bottom: -1px ;
    padding-top: 1px;
    padding-bottom: 6px;
    font-size: 10px;
    
}
.search-item input{   
    width: 173px;
    padding-left: 0px;
    font-size: 10px;

}
.section1{
    margin-bottom: 1rem;
}
.section1 .section-1-item .item-details{
    bottom: 4px;
    height: 20%;
   letter-spacing: 0.4px;
   font-size: 0.65rem;
  
   }
   .section-2{
    width: 80%;
    margin-bottom: 0rem;

}
   .section-2-heading{
    font-size: 1.1rem;
    font-weight: 400px;
    line-height: 1.2;

    
}

.section-2-item{
    border-radius: 10px;
    padding-left: 20px;
    flex-direction: column;
    height: 40px;
    width: 100%;
    margin-bottom: 1px;
    
}

.section-2-items{
    margin-left: -5px;
    width: 350%;
    flex-direction: column;
}
.section-2-item .item-head{
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}
.item-subhead{
    text-align: center;
    font-size: small;
    font-size: 12px;
}
.section-3-container{
    flex-direction: column;
   height: 60%;
}
.section-3-container{
    width: 100%;
    margin-left:-50px;
    height: 90%;
}

.section-3-img img{
    width: 280px;
    margin-top: 20px;

}
.section-3-content p{
    font-size: 1.5rem;
    text-align: center;
    margin-left: 120px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    }
    .section-3-download img{
        margin: 2px 1px;
        margin-left: 170px;
        width: 40%;
        
    
    }
    .main-heading{
        font-size: 1rem;
    }
    .section-footer{
        display: flex;
        padding: 10px 10rem;
    
        
    }
    .rows{
        
        margin-top: 50px;
        margin-left: -200px;
    }
    .row-content{
        width: 100%;
        padding: 14px;

        
    }
    .row-content h3{
        font-size: small;
    }
    .row-content p {
        font-size: smaller;
    }
    .row-content{
        width: 30%;
        line-height: 1;
    }
    .another-content{
        margin-top: 20px;
    }
}




